<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722707938443-ji0u6ngn0rv9u6ajtgbrn76hhle43b9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722707938443-ji0u6ngn0rv9u6ajtgbrn76hhle43b9e</string>
	<key>API_KEY</key>
	<string>AIzaSyDy01NiChEl2ed10DasMcRUmymkF5KlqrY</string>
	<key>GCM_SENDER_ID</key>
	<string>722707938443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-654bd</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-654bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722707938443:ios:184332b92e67a0de15a88e</string>
</dict>
</plist>